        <!-- jQuery -->
        <script src="/jquery/jquery-3.3.1.min.js"></script>
        <!-- JS for Bootstrap -->
        <script src="/bootstrap-4.1.1-dist/js/bootstrap.min.js"></script>

        <!-- Sidemenu slide functionality -->
        <script src="/customjQuery/slidebar.js"></script>
        <!-- Custom dropdowns -->
        <script src="/customjQuery/dropdownCheckboxes.js"></script>
        <!-- Back arrow function -->
        <script>function goBack(){window.history.back();}</script>
    </body>
</html>
