<% include partials/header %>

<div class="container-fluid">
    <div class="jumbotron landing-jumbo">
        <h1>Welcome to TGC!</h1>

        <a class="btn btn-light-gray" href="/posts">View all posts</a>
    </div>
</div>

<% include partials/footer %>
