@import "variables";

.index-main-r {

}



.post-index-c {
    padding-top: 1em;
    background: $violet-bg;
    box-shadow: inset 3px 0 2px $grey-l2;
}

/* Column for filter utilities */
.filter-c {
    padding-top: 1em;

}
