@import "variables";


/* Posts ----------------------------*/
/* Col space for posts */
.post-index-c {
    padding-top: 1em;
    background: $violet-bg;
}

/* Card for each post */
.index-card {
    margin-bottom: 2em;
    width: 251px;
    height: 350px;

}
/* Main img for each post */
.index-card img {

    height: 250px;
    width: 250px;

}


/*-------------Details of post------------*/

.card-body {
    padding: 0;
    color: #666666;
}

/* Price of posted item(s) */
.index-price-price {
    font-size: .8em;
}

.index-price {
    font-size: 1.2em;
    padding-left: 1em;
}

/* Author of post */
.author-link {  /* username link */
    vertical-align: top;
    color: #a6a6a6;
    font-size: .8em;
}

.author-link:hover {
    vertical-align: top;
    color: #cccccc;
}

.posted-by {  /* 'posted by:' */
    vertical-align: top;
    font-size: .7em;
    color: #b3b3b3;
}


/***************************************
/**** SIDEBAR **************************
***************************************/

/* Don't display sidebar on <768px screen*/
.sidebar {
    display: none;
}

/* Hides right arrow icon until sidebar is hidden */
span.sidebar-btn-icon > i.fa-angle-right {
    opacity: 0;
}


/*** MEDIUM AND LARGER SCREEN CSS ****

   On these size screens a sidebar
   menu will be available on the left */

/* Display filter column on >768px screen*/
@media (min-width: 768px) {
    /* Card for each post */
    .index-card {
        margin-bottom: 2em;
        width: 222px;
        height: 320px;

    }
    /* Main img for each post */
    .index-card img {

        height: 220px;
        width: 220px;

    }

    /* Move over posts column space
       to make room for filter column */
    .post-index-c {
        padding-left: 14em;

    }

    /* Sidebar when it is not hidden */
    .sidebar {
        animation: slide_show;
        animation-fill-mode: forwards;
        box-shadow: 2px 0 3px $grey-l2;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 14em;
        height: 100%;
        background: #fff;
    }

    /* TheGolfClub/TGC */
    .logo {
        order: 0;
        color: $green;
        padding: .5em 0 .5em 1em;
    }


} /* end >768px screen condition */




/* Rm vrt mrgns of menu btns*/
#hideSidebar, #sidebarBtn2,
#sidebarBtn3, #sidebarBtn4 {
    border-radius: 0;
    margin: 0;
}
