@import "variables";


nav.my-navbar {
    background: linear-gradient($cyan, $cyan-d);
    border-radius: 0;
}

/* TheGolfClub/TGC */
#brand {
    color: $green-l3;
    // font-size: 1.6em;
}
/* the word Club in the logo */
#logoClub {
    color: $yellow-green;
}
/* the word The in the logo */
#logoThe {
    color: $green-mint;
}


#backArrow {
    color: $yellow-green;
}

#logout {
  color: $grey-l2;
}

#login,
#register,
#createPost,
#myProfile {
    color: $green-l3;
}

/* Hides square around back button icon */
.back-arrow-btn {
    background: transparent;
}
