@import "variables";

// Sidebar is only visible at >=768px
@media (min-width: 768px) {
    /* Sidebar when it is not hidden */
    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 2px 0 3px $grey-l2;
        position: fixed;
        top: 0;
        left: 0;
        width: 14em;
        height: 100%;
        background: $green-bg;
        border-right: 1px $cyan solid;
    }







    /* Makes custom price range inputs
       on same line as radio button */
    #customPrice {
        display:inline;
    }

    /* Insures inputs dont overflow one line. */
    label > input.customPriceInput {
        max-width: 35%;
    }


    /* FILTER SECTION ********************************/

    /* Filter wrapper */
    section.filter-wrapper {
      padding-top: 4em;
    }

    div.filter-options-wrapper {
      overflow-y: scroll;
      padding-top: 1em;
    }

    /* Spaces out filter sections */
    div.filter-section, .dropdown-wrapper {
      color: $cyan;
      padding-bottom: 2em;
    }

    /* Title of the set of filters */
    #filterLegend {
      font-size: 1.7em;
      background: #fff;
      border-radius: 3px;
      text-align: center;
      margin-bottom: .5em;
      color: $cyan;
      background: $green-mint;
    }


    #filterFieldset {
      border: solid 1px $grey-l;

    }

    /* Makes the price range numbers a better font for numbers */
    input[name="priceRadios"] ~ label {

    }

    /* Insures dropdown input is on new line */
    label.select-label {
      display: block;
    }

    /* Title of each filter */
    label.filter-label, p.filter-label {
      color: $cyan;
      margin-bottom: 3px;
      font-size: 1.2em;
      padding-left: 1em;
    }

    /* Indents checkbox/radio btns and decrease their font size */
    div.check-radio-wrapper, div.filter-section > select {
      margin-left: 2em;
      font-size: 0.9em;
    }


    /*********************************************************
    *************CUSTOM DROPDOWNS ***************************
    *********************************************************/

    /*Dropdown wrapper */
    div.dropdown-wrapper {
      padding-bottom: 1em;
      width: 100%;
    }

    /*Clickable top portion */
    div.custom-dropdown {
      z-index: 0;
      border: 1px $green-l3 solid;
      box-shadow: 0 0 1px $grey-d;
      border-radius: 5px;
      height: 33px;
      width: 9em;
      margin-left: 2em; /*centers dropdown */
      padding-top: 3px; /* vertically centers text and icon */
      position: relative; /* necessary since pos: absolute used on menu */
      background: linear-gradient($cyan-l, $cyan);
    }

    /* Title on dropdown itself */
    p.dropdown-title {
      color: $green-l3;
      display: inline;
      margin-left: .5em;

    }

    i.fa-angle-down {
      margin-top: 2px;
      margin-left: 3.5em;
      background: transparent;
      color: $green-l3;
    }

    /*Menu*/
    div.select-option-wrapper {
      z-index: 1;
      height: 150px;
      width: 9em;
      margin-left: 2em;
      position: absolute;
      background: linear-gradient(#fff, $green-bg);
      overflow-y: scroll;
      display: none;
      border: 1px $cyan-l2 solid;
    }

    div.select-option-wrapper.menu-visible {
      display: block;
    }


    div.dropdown-check-wrapper {
      margin-left: 1em;
      font-size: .9em;
      color: $cyan-l;
    }

    p.standard-clubs {
      color: $cyan;
      margin-bottom: 0;
      padding-left: 3px;
      padding-top: 3px;
    }



    /********************************************************
    ***************SIDEBAR BUTTONS***************************
    **********************************************************/

    div.sidebar-btn-wrapper {
      padding-bottom: 1em;
    }

    /* Hides right arrow icon, it's
        toggled in sidebar.js from there. */
    span.sidebar-btn-icon > i.fa-angle-right {
        opacity: 0;
    }

    #hideSidebar { /* Hide */
        border: 2px $cyan solid;
        color: $green-l3;
        border-radius: 1px;
        background: $cyan;
        font-weight: bold;
        width: 100%;
    }
    #hideSidebar:hover {
        background: #fff;
        color: $green;
        border: 2px $green solid;
    }

    #sidebarBtn2 { /* Create Post */
        border: 2px $green solid;
        border-radius: 1px;
        background: $green;
        color: $green-mint;
        font-weight: bold;
        width: 100%;
    }

    #sidebarBtn2:hover {
        background: #fff;
        color: $green;
        border: 2px $green solid;
    }
}
