/*Color variables*/
/*main*/

$yellow-green: #8CC21F;
/*Violet*/
$violet-bg: #faf9fa;
$violet: #cd00cd;
$violet-d: #6b006b;

/*Red*/
$red: #D02121;
$red-l: #ffe5e5;

/*Blue*/
$blue-d: #1a1aa6;
$blue-d2: #090938;

/*cyan*/
$cyan: #005959;
$cyan-l:#006d6d;
$cyan-l2: #00d9d9;
$cyan-bg: #f6ffff;
$cyan-d: #003f3f;

/*green*/
$green: #1AA61A;
$green-soft: #82ee82;
$green-l: #1fc81f;
$green-l2: #41e141;
$green-l3: #85ec85;
$green-dark: #0a3a0a;
$green-bright: #2ede2e;
$green-mint: #d9f9d9;
$green-bg: #ebffeb;
$green-mint-d: #a7f1a7;

/*greyscale*/
$grey: #7a7a7a;
$grey-d: #5c5c5c;
$grey-d2: #3d3d3d;
$grey-l: #ebebeb;
$grey-l2: #cccccc;
$grey-l3: #adadad;
$grey-l4: #8f8f8f;
$grey-l5: #fafafa;

/*Font Variables*/
$merri-sans: 'Merriweather Sans', sans-serif;
$merri: 'Merriweather', serif;
