/*Color variables*/
/*main*/

$yellow-green: #8CC21F;
/*Violet*/
$violet-bg: #faf9fa;
$violet: #cd00cd;
$violet-d: #6b006b;

/*Red*/
$red: #D02121;
$red-l: #ffe5e5;


/*green*/
$green: #1AA61A;
$green-l: #1fc81f;
$green-l2: #41e141;
$green-l3: #85ec85;
$green-dark: #116611;
$green-bright: #2ede2e;
$green-mint: #d9f9d9;
$green-mint-d: #a7f1a7;

/*greyscale*/
$grey: #7a7a7a;
$grey-d: #5c5c5c;
$grey-d2: #3d3d3d;
$grey-l: #ebebeb;
$grey-l2: #cccccc;
$grey-l3: #adadad;
$grey-l4: #8f8f8f;

/*Font Variables*/
$merri-sans: 'Merriweather Sans', sans-serif;
$merri: 'Merriweather', serif;
