@import "landing";
@import "index";

body {
    font-family: $merri-sans;
    color: #5c645c;
}


/* NAVBAR */

/* navbar  background color */
.nav-bg {
    background: #fff;
}

/* Navbar text */
#backArrow,
#brand {
    font-weight: bold;
    color: $green-bright;
}

#login,
#register,
#myprofile,
#logout {
    color: $green-bright;
}

/* BUTTONS ****************************/
/*yellow-green */



/* GREEN*/
.btn-green {
    color: #fff;
    background: $green;
    font-weight: bold;
}
.btn-green:hover {
  background: #fff;
  color: $green;

}
.btn-green:focus, .btn-green.focus {
    box-shadow: 0px 0px 9px #9adebc;
}

/* Bright Green button white color */
.btn-green-bright {
    color: #fff;
    background: $green-bright;
    font-weight: bold;
    border: $green 2px solid;
}
.btn-green-bright:hover {
  background: #fff;
  color: $green;
  border: $green 2px solid;
}
.btn-green-bright:focus, .btn-green.focus {
    box-shadow: 0px 0px 9px #9adebc;
}
/* Bright Green button white color */
.btn-green-bright-o {
    color: $green-dark;
    background: #fff;
    border: $violet-d 1px solid;

}
.btn-green-bright-o:hover {
  background: #fff;
  color: $green-bright;

}
.btn-green-bright-o:focus, .btn-green.focus {
    box-shadow: 0px 0px 9px #9adebc;
}

/* GREEN OUTLINE */
.btn-green-outline {
    color: $green;
    background: #fff;
    border: 2px $green solid;
}
.btn-green-outline:hover {
  background: $green;
  color: #fff;

}
.btn-green-outline:focus, .btn-green-outline.focus {
    box-shadow: 0px 0px 9px #9adebc;
}

/*Violet button white text*/
.btn-violet {
  color: #fff;
  background: $violet;
  font-weight: bold;
  border: $violet 2px solid;

}
.btn-violet:hover {
  background: #fff;
  color: $violet;
}
.btn-violet:focus, .btn-sm-9.focus {
    box-shadow: 0px 0px 9px #CD88AF;
}

/*Transparent button with violet border and text*/
.btn-violet-outline {
  color: $violet;
  background: transparent;
  border: $violet 2px solid;
  font-weight: bold;

}
.btn-violet-outline:hover {
  background: $violet;
  color: #fff
}
.btn-violet-outline:focus, .btn-sm-9.focus {
    box-shadow: 0px 0px 9px #CD88AF;
}

/*Transparent button with violet-d border and text*/
.btn-violet-d-outline {
  color: #fff;
  background: $violet-d;
  border: $violet 2px solid;
}
.btn-violet-d-outline:hover {
  background: #fff;
  color: $violet;
}
.btn-violet-d-outline:focus, .btn-violet-d-outline.focus {
    box-shadow: 0px 0px 9px #CD88AF;
}

/*White button with shadow and violet color*/
.btn-white {
    border-radius: 15px;
    color: $violet;
    font-weight: bold;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-white:hover {
    background: $violet;
    color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-white:focus, .btn-white:focus {
    box-shadow: 0 0 0 0.2rem #9edfbe;
}

/*White button with shadow and red color*/
.btn-white-r {
    border-radius: 15px;
    color: #8e1717;
    font-weight: bold;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-white-r:hover {
    background: #8e1717;
    color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-white-r:focus, .btn-white-r:focus {
    box-shadow: 0 0 0 0.2rem #9edfbe;
}

/* White button with green text*/
.btn-white-g {
    border-radius: 15px;
    color: $green-bright;
    background: #fff;
    border: #cccccc 2px solid;
}
.btn-white-g:hover {
    background: $green-bright;
    color: #fff;
}
.btn-white-g:focus, .btn-white:focus {
    box-shadow: 0 0 0 0.2rem #9edfbe;
}




/***************************************************************/
/******************* END OF BUTTONS ****************************/
/***************************************************************/


// When someone focuses this input the shadow/border is green
input.box-shadow-green:focus {
    box-shadow: 0 0 .5em #9adebc;
    border-color: $green;
}


.post-header {
    text-align: center;
    color: #666666;
    margin-top: 1em;
}

.profile-header {
    text-align: center;
}

.comment-section-header {
    margin-right: 5em;
    font-size: 2em;
    color: #666666;
}

.back-arrow-btn {
    background: transparent;
}


/* -------------------Index of Posts Custom Classes--------------------*/
/* Card for each post */
.index-card {
    margin: 1.5em auto;
    max-width: 18em;
    max-height: 30em;
    padding: .2em;
    border-width: 1px;
}
.index-card img {
    max-height: 100%;
    max-width: 100%;
}

/*-------------Details of post------------*/

.card-body {
    padding: 0;
    color: #666666;
}

/* Price of posted item(s) */
.index-price-price {
    font-size: .8em;
}

.index-price {
    font-size: 1.2em;
    padding-left: 1em;
}

/* Author of post */
.author-link {  /* username link */
    vertical-align: top;
    color: #a6a6a6;
    font-size: .8em;
}

.author-link:hover {
    vertical-align: top;
    color: #cccccc;
}

.posted-by {  /* 'posted by:' */
    vertical-align: top;
    font-size: .7em;
    color: #b3b3b3;
}
/*----------------Show Post Custom Classes ------------*/

.list-group-item-gray {
  color: #666666;
  background-color: #f2f2f2;
}

.list-group-item-gray.list-group-item-action:hover, .list-group-item-gray.list-group-item-action:focus {
  color: #155724;
  background-color: #b1dfbb;
}

.list-group-item-gray.list-group-item-action.active {
  color: #fff;
  background-color: #155724;
  border-color: #155724;
}

/* --------------------Comments------------------*/
/* Thn dark line */
hr.style1{
	border-top: 1px solid #a6a6a6;
}
/* Fades to light at edges */
hr.style2 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

/* Fades to light at edges - lighter */
hr.style2-lighter {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #fff, #cccccc, #fff);
  background-image: -moz-linear-gradient(left, #fff, #cccccc, #fff);
  background-image: -ms-linear-gradient(left, #fff, #cccccc, #fff);
  background-image: -o-linear-gradient(left, #fff, #cccccc, #fff);
}


.comment-name {
    color: #737373;
    font-weight: bold;
}
.comment-name:hover {
    color: #333333;
}

.comment-date {
    float: right;
    font-style: italic;
    color: #cccccc;
    font-size: .7em;
}

.comment-text {
    color: #999999;
}
/* -------------Login Custom Classes ------------*/
.login-h1 {
    margin-top: .5em;
    margin-left: .2em;
    color: #666666;
}

.ul-no-style {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn-login {
    width: 100%;
}
/*-----------------------------------------------*/

.img-fluid, .figure-img {
    margin-top: .5em;
}

.edit-btn {
    display: inline;
}
.delete-form {
    display: inline;
}

/* Send button for sending a message within a conversation */
.submitMsgBtn {
    float: right;
}

.edit-delete-btn-group {
    margin-top: 1em;
}

.comment-btn {
    margin-bottom: 1em;
}

.conv-msg {
    color: #666666;
}

.conv-msg:hover {
    color: #333333;
}
