/*Color variables*/
/*main*/
/*Violet*/
/*Red*/
/*green*/
/*greyscale*/
/*Font Variables*/
/* Nav bar for landing page */
.header-bg-landing {
  color: #fff;
  background: #1AA61A;
  background: linear-gradient(90deg, #1AA61A 0%, #8CC21F 100%);
}

/* Jumbotron on landing page */
.landing-jumbo {
  padding-top: 2em;
  background: #1AA61A;
  background: linear-gradient(90deg, #1AA61A 0%, #8CC21F 100%);
  color: #fff;
}

/* Welcome to TGC */
.landing-h1 {
  font-family: "Merriweather", serif;
  color: #fff;
}

/* The Golf Club is... */
.landing-desc-1 {
  color: #fff;
  margin-top: 1em;
  margin-bottom: 1em;
}

.landing-desc-2 {
  margin-bottom: 1.5em;
  color: #fff;
}

.signup-header {
  margin-bottom: 1em;
}

/*Color variables*/
/*main*/
/*Violet*/
/*Red*/
/*green*/
/*greyscale*/
/*Font Variables*/
/* Posts ----------------------------*/
/* Row wrapper */
.post-index-c {
  padding-top: 1em;
  background: #faf9fa;
}

div.card-c {
  justify-content: center;
  display: flex;
}

/* Card for each post */
.index-card {
  margin-bottom: 2em;
  width: 251px;
  height: 350px;
}

/* Main img for each post */
.index-card img {
  height: 250px;
  width: 250px;
}

/***************************************
/**** SIDEBAR **************************
***************************************/
/* Don't display sidebar on <768px screen*/
.sidebar {
  display: none;
}

/* Hides right arrow icon until sidebar is hidden */
span.sidebar-btn-icon > i.fa-angle-right {
  opacity: 0;
}

/*** MEDIUM AND LARGER SCREEN CSS ****

   On these size screens a sidebar
   menu will be available on the left */
/* Display filter column on >768px screen*/
@media (min-width: 768px) {
  /* Dont display navbar on larger
     screens' index page */
  nav.my-navbar.index-nav {
    display: none;
  }

  /* Card for each post */
  .index-card {
    margin-bottom: 2em;
    width: 222px;
    height: 320px;
  }

  /* Main img for each post */
  .index-card img {
    height: 220px;
    width: 220px;
  }

  /* Move over posts column space
     to make room for filter column */
  .post-index-c {
    margin-left: 14em;
  }

  /* Sidebar when it is not hidden */
  .sidebar {
    animation: slide_show;
    animation-fill-mode: forwards;
    box-shadow: 2px 0 3px #cccccc;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 14em;
    height: 100%;
    background: #fff;
  }

  /* TheGolfClub/TGC */
  .logo {
    order: 0;
    color: #1AA61A;
    padding: 0.5em 0 0.5em 1em;
  }
}
/* end >768px screen condition */
/* Rm vrt mrgns of menu btns*/
#hideSidebar, #sidebarBtn2,
#sidebarBtn3, #sidebarBtn4 {
  border-radius: 0;
  margin: 0;
}

/*-------------Details of post------------*/
.card-body {
  padding: 0;
  color: #666666;
}

/* Price of posted item(s) */
.index-price-price {
  font-size: 0.8em;
}

.index-price {
  font-size: 1.2em;
  padding-left: 1em;
}

/* Author of post */
.author-link {
  /* username link */
  vertical-align: top;
  color: #a6a6a6;
  font-size: 0.8em;
}

.author-link:hover {
  vertical-align: top;
  color: #cccccc;
}

.posted-by {
  /* 'posted by:' */
  vertical-align: top;
  font-size: 0.7em;
  color: #b3b3b3;
}

/*Color variables*/
/*main*/
/*Violet*/
/*Red*/
/*green*/
/*greyscale*/
/*Font Variables*/
/* GREEN*/
.btn-green {
  color: #fff;
  background: #1AA61A;
  font-weight: bold;
}
.btn-green:hover {
  background: #fff;
  color: #1AA61A;
  border: #1AA61A 2px solid;
}
.btn-green:active {
  box-shadow: 0px 0px 9px #d7f9d7;
  background: #fff;
  color: #1AA61A;
  border: #1AA61A 2px solid;
}

/* END GREEN


/* Bright Green button white color */
.btn-green-bright {
  border-radius: 2px;
  color: #fff;
  background: #2ede2e;
  font-weight: bold;
  border: #1AA61A 2px solid;
}

.btn-green-bright:hover {
  background: #fff;
  color: #1AA61A;
  border: #1AA61A 2px solid;
}

.btn-green-bright:focus, .btn-green.focus {
  box-shadow: 0px 0px 9px #9adebc;
}

/* Bright Green button white color */
.btn-green-bright-o {
  color: #116611;
  background: #fff;
  border: #6b006b 1px solid;
}

.btn-green-bright-o:hover {
  background: #fff;
  color: #2ede2e;
}

.btn-green-bright-o:focus, .btn-green.focus {
  box-shadow: 0px 0px 9px #9adebc;
}

/* GREEN OUTLINE */
.btn-green-outline {
  color: #1AA61A;
  background: #fff;
  border: 2px #1AA61A solid;
}

.btn-green-outline:hover {
  background: #1AA61A;
  color: #fff;
}

.btn-green-outline:focus, .btn-green-outline.focus {
  box-shadow: 0px 0px 9px #9adebc;
}

/*Violet button white text*/
.btn-violet {
  color: #fff;
  background: #cd00cd;
  font-weight: bold;
  border: #cd00cd 2px solid;
}

.btn-violet:hover {
  background: #fff;
  color: #cd00cd;
}

.btn-violet:focus, .btn-sm-9.focus {
  box-shadow: 0px 0px 9px #CD88AF;
}

/*Transparent button with violet border and text*/
.btn-violet-outline {
  border-radius: 20px;
  color: #cd00cd;
  background: transparent;
  border: #cd00cd 2px solid;
  font-weight: bold;
}

.btn-violet-outline:hover {
  background: #cd00cd;
  color: #fff;
}

.btn-violet-outline:focus, .btn-sm-9.focus {
  box-shadow: 0px 0px 9px #CD88AF;
}

/*Transparent button with violet-d border and text*/
.btn-violet-d-outline {
  color: #fff;
  background: #6b006b;
  border: #cd00cd 2px solid;
}

.btn-violet-d-outline:hover {
  background: #fff;
  color: #cd00cd;
}

.btn-violet-d-outline:focus, .btn-violet-d-outline.focus {
  box-shadow: 0px 0px 9px #CD88AF;
}

/*White button with shadow and violet color*/
.btn-white {
  border-radius: 15px;
  color: #cd00cd;
  font-weight: bold;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-white:hover {
  background: #cd00cd;
  color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-white:focus, .btn-white.focus {
  box-shadow: 0 0 0 0.2rem #9edfbe;
  background: #cd00cd;
  color: #fff;
}

/*White button with shadow and red color*/
.btn-white-r {
  border-radius: 15px;
  color: #8e1717;
  font-weight: bold;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-white-r:hover {
  background: #8e1717;
  color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-white-r:focus, .btn-white-r:focus {
  box-shadow: 0 0 0 0.2rem #9edfbe;
}

/* White button with green text*/
.btn-white-g {
  border-radius: 5px;
  color: #7a7a7a;
  background: #fff;
  border: #ebebeb 3px solid;
}

.btn-white-g:hover {
  background: #2ede2e;
  color: #fff;
}

.btn-white-g:focus, .btn-white:focus {
  box-shadow: 0 0 0 0.2rem #9edfbe;
}

/*Color variables*/
/*main*/
/*Violet*/
/*Red*/
/*green*/
/*greyscale*/
/*Font Variables*/
/***** Naming Conventions *****

    [class name]-r => row

    [class name]-c => column

******************************/
body {
  font-family: "Merriweather Sans", sans-serif;
  color: #7a7a7a;
}

/* NAVBAR */
nav.my-navbar {
  border-bottom: 1px solid #cccccc;
}

/* Navbar text */
#backArrow,
#brand {
  font-weight: bold;
  color: #1AA61A;
}

#login,
#register,
#createPost,
#myProfile {
  color: #1AA61A;
}

input.box-shadow-green:focus {
  box-shadow: 0 0 0.5em #9adebc;
  border-color: #1AA61A;
}

.view-prof-btn, .purchase-btn {
  margin-bottom: 1em;
}

.post-header {
  text-align: center;
  color: #666666;
  margin-top: 1em;
}

.profile-header {
  text-align: center;
}

.comment-section-header {
  margin-right: 5em;
  font-size: 2em;
  color: #666666;
}

.back-arrow-btn {
  background: transparent;
}

/*----------------Show Post Custom Classes ------------*/
.list-group-item-gray {
  color: #666666;
  background-color: #f2f2f2;
}

.list-group-item-gray.list-group-item-action:hover, .list-group-item-gray.list-group-item-action:focus {
  color: #155724;
  background-color: #b1dfbb;
}

.list-group-item-gray.list-group-item-action.active {
  color: #fff;
  background-color: #155724;
  border-color: #155724;
}

/* --------------------Comments------------------*/
/* Thn dark line */
hr.style1 {
  border-top: 1px solid #a6a6a6;
}

/* Fades to light at edges */
hr.style2 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

/* Fades to light at edges - lighter */
hr.style2-lighter {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #fff, #cccccc, #fff);
  background-image: -moz-linear-gradient(left, #fff, #cccccc, #fff);
  background-image: -ms-linear-gradient(left, #fff, #cccccc, #fff);
  background-image: -o-linear-gradient(left, #fff, #cccccc, #fff);
}

.comment-name {
  color: #737373;
  font-weight: bold;
}

.comment-name:hover {
  color: #333333;
}

.comment-date {
  float: right;
  font-style: italic;
  color: #cccccc;
  font-size: 0.7em;
}

.comment-text {
  color: #999999;
}

/* -------------Login Custom Classes ------------*/
.login-h1 {
  margin-top: 0.5em;
  margin-left: 0.2em;
  color: #666666;
}

.ul-no-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-login {
  width: 100%;
}

/*-----------------------------------------------*/
.img-fluid, .figure-img {
  margin-top: 0.5em;
}

.edit-btn {
  display: inline;
}

.delete-form {
  display: inline;
}

/* Send button for sending a message within a conversation */
.submitMsgBtn {
  float: right;
}

.edit-delete-btn-group {
  margin-top: 1em;
}

.comment-btn {
  margin-bottom: 1em;
}

.conv-msg {
  color: #666666;
}

.conv-msg:hover {
  color: #333333;
}

/*# sourceMappingURL=main.css.map */
