/*Color variables*/
/*Font Variables*/
/* Nav bar for landing page */
.header-bg-landing {
  background: #3bb378;
  color: #fff;
}

/* Jumbotron on landing page */
.landing-jumbo {
  padding-top: 2em;
  background: #3bb378;
  color: #fff;
}

/* Welcome to TGC */
.landing-h1 {
  font-family: "Alegreya", serif;
  color: #fff;
}

/* The Golf Club is... */
.landing-desc-1 {
  color: #fff;
  margin-top: 1em;
  margin-bottom: 1em;
}

.landing-desc-2 {
  margin-bottom: 1.5em;
  color: #fff;
}

body {
  font-family: "Alegreya Sans", sans-serif;
}

/***************************************************************/
/************************** BUTTONS ****************************/
/***************************************************************/
.btn-dark-green {
  border-radius: 15px;
  color: #3bb378;
  font-weight: bold;
  background: #fff;
  border: solid #3bb378 0.5em;
}

.btn-dark-green:hover {
  background: #78d2a5;
  color: #fff;
}

.btn-dark-green:focus, .btn-dark-green:focus {
  box-shadow: 0 0 0 0.2rem #9edfbe;
}

/* small green with white letter, 9/10 rectangle shape (rs) */
.btn-sm-9 {
  border-radius: 5px;
  color: #fff;
  background: #3bb378;
  border: solid #fff 2px;
}

.btn-sm-9:hover {
  background: #287951;
  color: #fff;
  border: solid #cccccc 2px;
}

.btn-sm-9:focus, .btn-sm-9.focus {
  box-shadow: 0px 0px 9px #9adebc;
}

/* A light gray button with dark
  text and a thin dark outline */
.btn-light-gray {
  border-radius: 9px;
  color: #434343;
  background: #cccccc;
  border: solid #878787 1px;
}

.btn-light-gray:hover {
  background: #a6a6a6;
  color: #434343;
  background-image: -webkit-linear-gradient(top, #a6a6a6, #bfbfbf);
  background-image: -moz-linear-gradient(top, #a6a6a6, #bfbfbf);
  background-image: -ms-linear-gradient(top, #a6a6a6, #bfbfbf);
  background-image: -o-linear-gradient(top, #a6a6a6, #bfbfbf);
  background-image: linear-gradient(to bottom, #a6a6a6, #bfbfbf);
}

.btn-light-gray:focus, .btn-light-gray.focus {
  box-shadow: 0 0 0 0.2rem #a6a6a6;
}

/* A lighter gray button with a medium
   outline and text in darker gray, it
   also is more curved */
.btn-light-gray-2 {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  color: #8d8d8d;
  background: #f2f2f2;
  border: solid #b3b3b3 2px;
  font-size: 1em;
}

.btn-light-gray-2:hover {
  background: #a6a6a6;
  color: #fff;
  border: solid #cccccc 2px;
}

.btn-light-gray-2:focus, .btn-light-gray.focus {
  box-shadow: 0px 0px 9px #cccccc;
}

/* Outline button light-gray */
.btn-outline-gray {
  color: #999999;
  background-color: transparent;
  background-image: none;
  border: 2px solid #a6a6a6;
  font-weight: bold;
}

.btn-outline-gray:hover {
  color: #fff;
  background-color: #a6a6a6;
  border-color: #a6a6a6;
}

.btn-outline-gray:focus, .btn-outline-gray.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-light-gray-2b {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  color: #808080;
  background: #f2f2f2;
  border: solid #8c8c8c 2px;
  font-weight: bold;
}

.btn-light-gray-2b:hover {
  background: #a6a6a6;
  color: #fff;
  border: solid #cccccc 2px;
}

.btn-light-gray-2b:focus, .btn-light-gray-2b.focus {
  box-shadow: 0px 0px 9px #cccccc;
}

/***************************************************************/
/******************* END OF BUTTONS ****************************/
/***************************************************************/
input.box-shadow-green:focus {
  box-shadow: 0 0 0.5em #9adebc;
  border-color: #3bb378;
}

.post-header {
  text-align: center;
  color: #666666;
  margin-top: 1em;
}

.profile-header {
  text-align: center;
}

.comment-section-header {
  margin-right: 5em;
  font-size: 2em;
  color: #666666;
}

.back-arrow-btn {
  background: #fff;
}

/* -------------------Index of Posts Custom Classes--------------------*/
/* Card for each post */
.index-card {
  margin: 1.5em auto;
  max-width: 18em;
  max-height: 30em;
  padding: 0.2em;
  border-width: 1px;
}

.index-card img {
  max-height: 100%;
  max-width: 100%;
}

/*-------------Details of post------------*/
.card-body {
  padding: 0;
  color: #666666;
}

/* Price of posted item(s) */
.index-price-price {
  font-size: 0.8em;
}

.index-price {
  font-size: 1.2em;
  padding-left: 1em;
}

/* Author of post */
.author-link {
  /* username link */
  vertical-align: top;
  color: #a6a6a6;
  font-size: 0.8em;
}

.author-link:hover {
  vertical-align: top;
  color: #cccccc;
}

.posted-by {
  /* 'posted by:' */
  vertical-align: top;
  font-size: 0.7em;
  color: #b3b3b3;
}

/*----------------Show Post Custom Classes ------------*/
.list-group-item-gray {
  color: #666666;
  background-color: #f2f2f2;
}

.list-group-item-gray.list-group-item-action:hover, .list-group-item-gray.list-group-item-action:focus {
  color: #155724;
  background-color: #b1dfbb;
}

.list-group-item-gray.list-group-item-action.active {
  color: #fff;
  background-color: #155724;
  border-color: #155724;
}

/* --------------------Comments------------------*/
/* Thn dark line */
hr.style1 {
  border-top: 1px solid #a6a6a6;
}

/* Fades to light at edges */
hr.style2 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

/* Fades to light at edges - lighter */
hr.style2-lighter {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #fff, #cccccc, #fff);
  background-image: -moz-linear-gradient(left, #fff, #cccccc, #fff);
  background-image: -ms-linear-gradient(left, #fff, #cccccc, #fff);
  background-image: -o-linear-gradient(left, #fff, #cccccc, #fff);
}

.comment-name {
  color: #737373;
  font-weight: bold;
}

.comment-name:hover {
  color: #333333;
}

.comment-date {
  float: right;
  font-style: italic;
  color: #cccccc;
  font-size: 0.7em;
}

.comment-text {
  color: #999999;
}

/* -------------Login Custom Classes ------------*/
.login-h1 {
  margin-top: 0.5em;
  margin-left: 0.2em;
  color: #666666;
}

.ul-no-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-login {
  width: 100%;
}

/*-----------------------------------------------*/
.img-fluid, .figure-img {
  margin-top: 0.5em;
}

.edit-btn {
  display: inline;
}

.delete-form {
  display: inline;
}

/* Send button for sending a message within a conversation */
.submitMsgBtn {
  float: right;
}

.edit-delete-btn-group {
  margin-top: 1em;
}

.comment-btn {
  margin-bottom: 1em;
}

.conv-msg {
  color: #666666;
}

.conv-msg:hover {
  color: #333333;
}

/*# sourceMappingURL=main.css.map */
