<% include ../partials/header %>

<div class="container">
    <div class="landing-jumbo jumbotron">
        <h2>Are you sure you would like to purchase this?</h2>
        <a class="btn btn-light-gray-2b" href="/posts/<%= post._id %>/purchase/conf/<%=currentUser._id%>">Yes, I'm Sure!</a>
    </div>
</div>

<% include ../partials/footer %>
